Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
beautifulsoup4
aiohttp
alembic
bcrypt
cryptography
itsdangerous
Jinja2
MarkupSafe
marshmallow
openai
groq
pydantic
psycopg2-binary
python-dotenv
requests
SQLAlchemy
supabase
stripe
